@model List<RestaurantlyMVCProject.Entities.Feature>
@{
    ViewBag.Title = "FeatureIndex";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Feature Page</a></li>
        </ol>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Feature List</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover verticle-middle">
                            <thead>
                                <tr>
                                    <th scope="col"><b>Feature Id</b></th>
                                    <th scope="col">Feature Title</th>
                                    <th scope="col">Feature Subtitle</th>
                                    <th scope="col">Feature Image</th>
                                    <th scope="col">Feature Video Url</th>
                                    <th scope="col">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><b>@item.FeatureId</b></td>
                                        <td>@item.FeatureTitle</td>
                                        <td>@item.FeatureSubtitle</td>
                                        <td align="center">
                                            <img src="@item.FeatureImageUrl" alt="@item.FeatureTitle" class="img-thumbnail" style="width:150px" />
                                        </td>
                                        <td align="center"><a href="@item.FeatureVideoUrl" target="_blank"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;Click For The Video!</a></td>
                                        <td align="center">
                                            <a href="/AdminFeature/UpdateFeature/@item.FeatureId" class="btn btn-check gradient-1 col-5">Update<span class="btn-icon-right"><i class="fa-solid fa-pen"></i></span></a>
                                            &nbsp;
                                            <a href="/AdminFeature/DeleteFeature/@item.FeatureId" class="btn btn-check gradient-2 col-5">Delete<span class="btn-icon-right"><i class="fa-solid fa-xmark"></i></span></a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

