@model List<RestaurantlyMVCProject.Entities.Product>
@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Product List</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product List</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover verticle-middle">
                            <thead>
                                <tr>
                                    <th scope="col"><b>Product Id</b></th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col" class="col-2">Product Description</th>
                                    <th scope="col">Product Price</th>
                                    <th scope="col">Product Image</th>
                                    <th scope="col">Product Category</th>
                                    <th scope="col">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><b>@item.ProductId</b></td>
                                        <td>@item.ProductName</td>
                                        <td>@item.ProductDescription</td>
                                        <td>@item.ProductPrice</td>
                                        <td align="center">
                                            <img src="@item.ProductImageUrl" alt="@item.ProductName" class="img-thumbnail" style="width:120px" />
                                        </td>
                                        <td>@item.Category.CategoryName</td>
                                        <td align="center">
                                            <a href="/AdminProduct/UpdateProduct/@item.ProductId" class="btn btn-check gradient-1 col-5 d-flex justify-content-center"><i class="fa-solid fa-pen"></i></a>
                                            &nbsp;
                                            <a href="/AdminProduct/DeleteProduct/@item.ProductId" class="btn btn-check gradient-2 col-5 d-flex justify-content-center"><i class="fa-solid fa-xmark"></i></a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <a href="/AdminProduct/AddNewProduct/" class="btn btn-success gradient" style="color:white">Add New Product<span class="btn-icon-right"><i class="fa-solid fa-plus"></i></span></a>
            <br />
            <br />
        </div>
    </div>
</div>

