@model RestaurantlyMVCProject.Entities.Product
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Product</a></li>
        </ol>
    </div>
</div>


<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Product</h4>
                <div class="basic-form">
                    <form method="post">

                        <div class="form-group">
                            <br />
                            @Html.HiddenFor(a => a.ProductId)

                            <label>Product Name</label>
                            <br />
                            @Html.TextBoxFor(a => a.ProductName, new { @class = "form-control" })
                            <br />
                            <label>Product Description</label>
                            <br />
                            @Html.TextBoxFor(a => a.ProductDescription, new { @class = "form-control" })
                            <br />
                            <label>Product Price</label>
                            <br />
                            @Html.TextBoxFor(a => a.ProductPrice, new { @class = "form-control" })
                            <br />
                            <label>Product Image Url</label>
                            <br />
                            @Html.TextBoxFor(a => a.ProductImageUrl, new { @class = "form-control" })
                            <br />
                            <label>Product Category</label>
                            <br />
                            @Html.DropDownListFor(a => a.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-check gradient-1">
                            Save Changes<span class="btn-icon-right"><i class="fa-solid fa-pen"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

