@model RestaurantlyMVCProject.Entities.Address
@{
    ViewBag.Title = "UpdateAddress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Address</a></li>
        </ol>
    </div>
</div>


<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Address</h4>
                <div class="basic-form">
                    <form method="post">

                        <div class="form-group">
                            <br />
                            @Html.HiddenFor(a => a.AddressId)
                            <label>Address Location</label>
                            <br />
                            @Html.TextBoxFor(a => a.AddressLocation, new { @class = "form-control" })
                            <br />
                            <label>Address Open Hours</label>
                            <br />
                            @Html.TextBoxFor(a => a.AddressOpenHours, new { @class = "form-control" })
                            <br />
                            <label>Email</label>
                            <br />
                            @Html.TextBoxFor(a => a.AddressEmail, new { @class = "form-control" })
                            <br />
                            <label>Call</label>
                            <br />
                            @Html.TextBoxFor(a => a.AddressCall, new { @class = "form-control" })
                            <br />
                        </div>

                        <button type="submit" class="btn btn-check gradient-1">
                            Save Changes<span class="btn-icon-right"><i class="fa-solid fa-pen"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
